.home-container {
    width: 780px;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-section-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 360px;
    height: 250px;
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styling for the overlay */
    background-color: rgba(0, 0, 0, 0.5);
    /* Example background */
    color: white;
    /* Example text color */
    padding: 10px;
    /* Example padding */
    border-radius: 5px;
    /* Example rounded corners */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    color: white;
    font-size: 36px;
    text-align: center;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.image-container:hover .image-text {
    transform: translateY(-20px);
}

.image-container:hover .image-overlay {
    background: rgba(0, 0, 0, 0.7);
}

// carousel styles

/* external css: flickity.css, fullscreen.css */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    background: #222;
}

.home {
    width: 100%;
}

.imgCarousel {
    width: 600px;
    height: 330px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCarousel-1 {
    @extend .imgCarousel;
    background-image: url('./../../images/home/3.jpg');
}

.imgCarousel-2 {
    @extend .imgCarousel;
    background-image: url('./../../images/home/4.jpg');
}

.imgCarousel-3 {
    @extend .imgCarousel;
    background-image: url('./../../images/home/5.jpg');
}

.carousel-wrapper {
    margin: 0 auto;
    max-width: 930px;
}

.carousel-text {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.carousel-cell {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

// gallery styles

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.gallery-item {
    position: relative;
    width: 31.33%;
    margin: 4px 4px 2px 4px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.overlay .icon {
    color: white;
    font-size: 2em;
    margin: 0 10px;
    cursor: pointer;
}

// banner styles

.topBannerContainer {
    background-color: #ff6b6b; 
    width: 100%; 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .bannerHours {
    color: white; 
    text-transform: uppercase; 
    margin: 0; 
  }
  
  .bannerHours h1,
  .bannerHours h3 {
    margin: 0; 
  }
  
  .bannerHours h1 {
    font-size: 36px; 
  }
  
  .bannerHours h3 {
    font-size: 24px; 
  }